.columna-juego {
  border: black 3px solid;
  transition: 500ms;
}

.cuadro {
  text-align: center;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 0%;
}

main {
  border: black 3px solid;
  min-height: 390px;
  padding: 3px;
  padding-right: 3px;
}

* {
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
