.columna-juego {
  border: black 3px solid;
  display: grid;
  justify-content: center;
  transition: 500ms;
}

.cuadro {
  min-height: 100px;
}

main {
  border: black 3px solid;
  min-height: 390px;
  padding: 3px;
  padding-right: 3px;
}

* {
  padding: 3px;
  margin-left: 3px;
  margin-right: 3px;
}
